
.footerContainer{
    margin: 6vw 12vw 2vw 12vw;
}

.footer{
    display: flex;
}

.footer Link,.footer a{
    text-decoration: none;
    color:var(--Text-color-gras);
}

.s1{
    flex:2;
}

.s1Up, .s1Down{   
    display: flex;
    flex-direction: column;
}

.s1Up{
    gap: 2.5vw;
}

#linkFooter{
    width: fit-content;
}

.s1Up img{
    height: 4vw;
}

.Txt{
    display: flex;
    flex-direction: column;
    gap: .6vw;
}

.Txt p{
    font-size: .75vw;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 400;
    color:var(--Text-color-gras);
}

.s1Down{
    gap: 1.5vw;
}

.s1Down .socialMedia{
    display: flex;
    gap: 2vw;
}

.s1Down .socialMedia img{
    height: 1.3vw;
}


.footerSame{
    margin-top: 1.2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    flex: 1;
}

.footerSameTitle{
    font-size: 1.1vw;
    font-weight: 500;
    color: var(--purple-color);
}

.footerDiv{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    font-size: .9vw;
}

.footerSameTxt{
    color: var(--Text-color-gras);
}

.footerSameTxt:hover{
    text-decoration: underline;
    width: fit-content;
    cursor: pointer;
}

.logo{
    cursor: pointer;
}

.inputTxt{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.inputContainer{
    position: relative;
    display: flex;
    align-items: center;
}

.inputContainer input{
    width: 100%;
    padding: .9vw;
    border-radius: 10px ;
    outline: none;
    border: 2px solid #D0D0E3;
    color:black;
    transition: .5s all ease;
}

.inputContainer input:focus{
    border: 2px solid var(--purple-color);
}

.sendMail{
    position: absolute;
    background-color: #D0D0E3;
    width: fit-content;
    height: 2.5vw;
    width: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: 15px;
    cursor: pointer;
    transition: .5s all ease;
}

.sendMail:hover{
    background-color: var(--purple-color);
    transform: translateX(5px);
}