@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

.headerContainer{
    margin-top: 1.5vw;
}
.insideHeaderContainer{
    display: flex;
    align-items: center;
    padding: 0vw 12vw;
}

#logoContainer{
    flex:1;
}


.logo{
    font-family: 'Fuggles', cursive;
    font-size: 3vw;
    font-weight: 600;
    color: var(--purple-color);
    width: fit-content;
    cursor:default;
}




.headerList{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-weight: 500;
    font-size: 1vw;
    color: var( --Text-color);
}

.headerList li{
    cursor: pointer;
}

.headerList li:hover{
    color: var(--purple-color);
    font-weight: 700;
}